.app {
  width: 100%;
  margin: 0 auto;
}

.app__title {
  width: 220px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 30px;
  font-weight: 200;
  color: #283645;
  text-align: center;
}

.app__title--question {
  margin: 40px auto 27px;
}

.app__description {
  width: 100%;
  margin-top: 32px;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 0 -1px;
  background-size: 100%;
}

.app__container {
  width: 280px;
  padding: 81px 20px 287px 20px;
  margin: 32px auto 0;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 507px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px 320px;
  }
}

.app__box {
  margin-bottom: 31px;
  text-align: center;
}

.app__description-title {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.app__text {
  margin-top: 11px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 200;
  letter-spacing: 0.3px;
  color: #283645;
}

.app__slide {
  padding: 43px 20px 0 20px;
  text-align: center;
}

.app__user-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.app__user-data {
  display: none;
}

.app__user-review {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.app__inputs {
  display: flex;
  height: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 132px 42px 128px;
}

.app__inputs:hover .app__slider-toggle {
  background-color: #7e868f;
}

.app__inputs:active .app__slider-toggle {
  background-color: #e9ebec;
}

.app__input {
  display: none;
}

.app__input:checked + .app__slider-toggle {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border: 3px solid #283645;
  border-radius: 50%;
}

.app__slider-toggle {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 50%;
}

.app__efect {
  display: none;
}

.app__slider {
  width: 320px;
  margin: 0 auto;
}

.app__slider-nav {
  display: none;
}

@media (min-width: 660px) {
  .app__title {
    width: auto;
    font-size: 40px;
    line-height: 48px;
  }

  .app__title--question {
    margin: 49px 0 0 0;
  }

  .app__title--answer {
    width: 400px;
    margin: 0 auto 48px;
  }

  .app__box {
    margin-bottom: 34px;
    text-align: left;
  }

  .app__text--decoration {
    margin: 11px 0 0 2px;
  }

  .app__box--second {
    margin-bottom: 35px;
  }

  .app__container {
    width: 310px;
    padding: 74px 20px 7px 329px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 20px 3px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px 481px;
    }
  }

  .app__text-carry {
    display: block;
  }

  .app__efect {
    display: flex;
    width: 620px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .app__clock {
    position: relative;
    width: 309px;
    height: 350px;
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 239px 276px;
    background-position: 0 59px;
  }

  .app__clock::before {
    position: absolute;
    content: "";
    left: 20px;
    top: 116px;
    width: 174px;
    height: 175px;
    border: 13px solid #d22856;
    border-radius: 50%;
  }

  .app__number {
    position: absolute;
    left: 64px;
    top: 163px;
    width: 106px;
    height: 70px;
    font-size: 96px;
    line-height: 96px;
    font-weight: bold;
    color: #d22856;
  }

  .app__efect-box {
    width: 310px;
  }

  .app__efect-title {
    width: 180px;
    margin: 97px 0 9px;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
  }

  .app__text--efect {
    margin: 9px 0 11px 0;
    width: 300px;
  }

  .app__link {
    margin-top: 11px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 200;
    letter-spacing: 0.3px;
    color: #d22856;
  }

  .app__slide {
    display: flex;
    flex-wrap: wrap;
    padding: 67px 20px 0 20px;
  }

  .app__user-name {
    width: 100%;
    margin: 16px 0 4px 0;
    font-size: 20px;
  }

  .app__user-data {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 30px;
    font-weight: 200;
    letter-spacing: 0.3px;
    color: #283645;
  }

  .app__user-review {
    font-size: 18px;
    order: -1;
  }

  .app__inputs {
    display: flex;
    justify-content: space-between;
    padding: 34px 303px 21px 299px;
  }

  .app__slider-toggle {
    display: block;
    width: 6px;
    height: 6px;
    background-color: #bec2c7;
    border-radius: 50%;
  }

  .app__slider {
    width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .app__container {
    justify-content: space-around;
    display: flex;
    width: 960px;
    padding: 0 120px 14px 120px;
    background-image: none;
  }

  .app__title {
    font-size: 50px;
    line-height: 60px;
  }

  .app__title--question {
    margin: 65px 0 0 0;
  }

  .app__title--answer {
    width: 420px;
    margin: 0 auto 80px;
  }

  .app__box {
    width: 236px;
    padding-top: 360px;
    margin-top: -5px;
    text-align: center;
    background-repeat: no-repeat;
  }

  .app__box--first {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-position: -29px 2px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-size: 292px 302px;
    }
  }

  .app__box--second {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-position: -25px 2px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
      background-size: 292px 302px;
    }
  }

  .app__box--third {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-position: -25px 2px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
      background-size: 292px 302px;
    }
  }

  .app__description {
    background-position: 0 -1px;
  }

  .app__description-title {
    font-size: 30px;
    line-height: 30px;
  }

  .app__text {
    margin-top: 26px;
    font-size: 18px;
    line-height: 30px;
  }

  .app__text-carry {
    display: inline;
  }

  .app__efect {
    width: 100%;
    padding: 0 0 61px 0;
    background-color: #f2f2f2;
  }

  .app__clock {
    width: 376px;
    margin: 0 0 0 auto;
    background-size: 298px 344px;
    background-position: 10px 0;
  }

  .app__clock::before {
    left: 34px;
    top: 70px;
    width: 218px;
    height: 219px;
    border: 16px solid #d22856;
  }

  .app__number {
    position: absolute;
    left: 90px;
    top: 94px;
    width: 120px;
    height: 189px;
    font-size: 120px;
    line-height: 189px;
  }

  .app__efect-box {
    width: 584px;
    margin: 0 auto 0 0;
  }

  .app__efect-title {
    width: 300px;
    margin: 90px 0 0 0;
  }

  .app__text--efect {
    margin: 22px 0 31px 0;
    width: 530px;
    letter-spacing: 0.4px;
  }

  .app__section-carry {
    display: block;
  }

  .app__link {
    font-size: 18px;
    line-height: 30px;
  }

  .app__slider {
    position: relative;
    width: 940px;
    margin: 0 auto;
  }

  .app__slider-nav {
    display: block;
  }

  .app__arrows {
    position: absolute;
    top: 213px;
    width: 23px;
    height: 41px;
  }

  .app__arrows--left {
    left: 0;
  }

  .app__arrows--right {
    right: 0;
  }

  .app__arrow {
    fill: #bec2c7;
    cursor: pointer;
  }

  .app__arrow:hover {
    fill: #7e868f;
  }

  .app__arrow:active {
    fill: #e9ebec;
  }

  .app__slide {
    position: relative;
    padding: 66px 20px 40px 20px;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: 433px 72px;
  }

  .app__user-name {
    margin: 36px 0 4px;
    font-size: 24px;
  }

  .app__user-data {
    font-size: 18px;
  }

  .app__user-review {
    width: 690px;
    margin: 120px auto 0;
    line-height: 30px;
  }

  .app__inputs {
    display: none;
  }
}
