.footer {
  width: 280px;
  padding: 0 20px 38px;
  margin: 0 auto;
}

.footer--hidden {
  display: none;
}

.footer__logo {
  margin: 41px 0 0 0;
}

.footer__logo-link {
  display: block;
  width: 147px;
  height: 40px;
  margin: 0 auto;
}

.footer__img {
  display: block;
  margin: 0 auto;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  width: 177px;
  margin: 40px auto 0;
}

.footer__social-link {
  display: block;
  width: 45px;
  height: 44px;
  border-radius: 50%;
  border: 3px solid #e9ebec;
}

.footer__social-link:hover {
  border: 3px solid #283645;
}

.footer__social-link:active {
  opacity: 0.3;
}

.footer__social-link--twiter {
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer__social-link--facebook {
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer__social-link--youtube {
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer__academy {
  padding: 41px 0 0 74px;
}

.footer__academy-link {
  font-size: 14px;
  color: #283645;
  text-decoration: none;
}

.footer__academy-icon {
  width: 27px;
  height: 34px;
  margin: 0 0 0 11px;
  fill: #d22856;
  vertical-align: middle;
}

.footer__academy-icon:hover {
  fill: #283645;
}

.footer__academy-icon:active {
  fill: #bec2c7;
}

@media (min-width: 660px) {
  .footer {
    display: flex;
    width: 660px;
    padding: 36px 0 37px;
    margin: 0 auto;
  }

  .footer__logo {
    padding-left: 20px;
    margin: 0;
  }

  .footer__img {
    display: inline;
  }

  .footer__social {
    margin: 4px 0 0 75px;
  }

  .footer__social-link--youtube {
    background-position: 17px 14px;
  }

  .footer__social-link--facebook {
    background-position: 18px 10px;
  }

  .footer__academy {
    padding: 15px 0 0 91px;
  }

  .footer__academy-icon {
    margin: 0 0 0 12px;
  }
}

@media (min-width: 1200px) {
  .footer {
    width: 1200px;
    padding: 69px 0 72px;
  }

  .footer__logo {
    padding-left: 130px;
  }

  .footer__logo-link {
    width: 160px;
    height: 40px;
  }

  .footer__social {
    margin: 5px 0 0 221px;
  }

  .footer__social--photo {
    margin: 5px 0 0 225px;
  }

  .footer__social--form {
    margin: 4px 0 0 225px;
  }

  .footer__academy {
    margin: 0 0 0 137px;
  }

  .footer__academy--photo {
    margin: 0 0 0 134px;
  }

  .footer__academy--form {
    padding: 13px 0 0 87px;
  }

  .footer__academy-link {
    font-size: 18px;
    line-height: 18px;
  }

  .footer__academy-icon {
    margin: 0 0 0 10px;
  }
}
