.nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.nav__container {
  width: 320px;
  margin: 0 auto;
}

.nav__container--all-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #283645;
}

.nav__partial {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav__all {
  display: flex;
  justify-content: space-between;
  min-height: 68px;
  padding: 0 20px;
  background-color: #283645;
}

.nav__logo {
  display: block;
  margin: 22px 0 0;
}

.nav__close--photo {
  margin-bottom: 0;
}

.nav__button-open {
  margin-top: 21px;
  width: 50px;
  height: 24px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.nav__button-close {
  margin: 20px -20px 0 0;
  width: 43px;
  height: 24px;
  cursor: pointer;
}

.nav__button-close--hidden {
  display: none;
}

.nav__button-hidden {
  display: none;
}

.nav__button-icon {
  fill: #ffffff;
}

.nav__button-icon:hover {
  fill: #d22856;
}

.nav__button-icon:active {
  opacity: 0.3px;
}

.nav__list {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #283645;
  border-top: 1px solid #000000;
  list-style: none;
}

.nav__list--hidden {
  display: none;
  border-top: none;
}

.nav__item {
  display: block;
  padding: 17px 0 13px 0;
  text-align: center;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485461;
}

.nav__item--main {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border-top: none;
}

.nav__img {
  margin: 21px 0 15px 0;
}

.nav__link {
  padding: 0 20px;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 660px) {
  .nav__container {
    width: 100%;
    margin: 0 auto;
  }

  .nav__button-open {
    margin-top: 44px;
  }

  .nav__button-close {
    margin: 45px -20px 0 0;
  }

  .nav__partial {
    width: 620px;
    min-height: 109px;
  }

  .nav__all {
    width: 620px;
    min-height: 109px;
    background-color: #283645;
  }

  .nav__logo {
    margin: 27px 0 2px;
  }

  .nav__close--photo {
    margin-bottom: 0;
  }

  .nav__list {
    top: 0;
    left: 0;
    margin: 0 0 0 0;
  }

  .nav__img {
    margin: 28px 0 30px 0;
  }
}

@media (min-width: 1200px) {
  .nav__container--all-menu {
    position: static;
    background-color: transparent;
  }

  .nav__container {
    display: flex;
    width: 940px;
  }

  .nav__all {
    background-color: transparent;
    min-height: 110px;
  }

  .nav__partial {
    width: 483px;
    padding: 0;
    min-height: 110px;
  }

  .nav__logo {
    margin: 27px 0 0 0;
  }

  .nav__close--photo {
    margin-bottom: 0;
  }

  .nav__list {
    position: static;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    background-color: inherit;
  }

  .nav__button-open {
    display: none;
  }

  .nav__button-close {
    display: none;
  }

  .nav__item {
    border: none;
    margin: 44px 83px 0 0;
    padding: 0;
  }

  .nav__item:nth-last-child(1) {
    margin-right: 0;
  }

  .nav__item--main {
    margin-top: 27px;
    margin-right: 172px;
  }

  .nav__link {
    width: 146px;
    height: 76px;
    padding: 0 0 8px 0;
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
    font-weight: 200;
    letter-spacing: 0.1px;
  }

  .nav__link--active {
    border-bottom: 2px solid #ffffff;
  }

  .nav__link--active:hover {
    border-bottom: 2px solid #d22856;
  }

  .nav__link--active:active {
    border-bottom: 2px solid #626d78;
  }

  .nav__link:hover {
    color: #d22856;
  }

  .nav__link:active {
    color: #626d78;
  }

  .nav__img {
    margin: 0 0 30px 0;
  }
}
