.nav {
  position: relative;
  width: 320px;
}

.nav__close {
  display: flex;
  justify-content: space-between;
  min-height: 66px;
  padding: 0 20px;
  margin-bottom: 396px;
  background-color: rgba(0, 0, 0, 0.3);
}

.nav__close--photo {
  margin-bottom: 0;
}

.nav__logo-link {
  display: block;
  width: 160px;
  height: 40px;
  margin-top: 21px;
  text-decoration: none;
}

.nav__button-open {
  margin-top: 21px;
  width: 50px;
  height: 24px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.nav__button-icon {
  fill: #ffffff;
}

.nav__button-icon:hover {
  fill: #d22856;
}

.nav__button-icon:active {
  opacity: 0.3px;
}

.nav__list {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  padding: 0;
  margin: 0 0 136px 0;
  background-color: #283645;
  list-style: none;
}

.nav__button-close {
  margin: 18px 14px 0 0;
  width: 43px;
  height: 24px;
  cursor: pointer;
}

.nav__item {
  display: block;
  padding: 17px 0 13px 0;
  text-align: center;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485461;
}

.nav__item--main {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border-top: none;
}

.nav__img {
  margin: 21px 0 15px 0;
}

.nav__link {
  padding: 0 20px;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.nav__link--logo {
  display: block;
  width: 160px;
  height: 40px;
  margin: 20px 0 7px 0;
  text-decoration: none;
}

@media (min-width: 660px) {
  .nav {
    width: 660px;
  }

  .nav__logo-link {
    margin-top: 26px;
  }

  .nav__button-open {
    margin-top: 44px;
  }

  .nav__button-icon:hover {
    fill: #d22856;
  }

  .nav__button-icon:active {
    opacity: 0.3px;
  }

  .nav__close {
    min-height: 110px;
    margin-bottom: 93px;
  }

  .nav__close--photo {
    margin-bottom: 0;
  }

  .nav__list {
    top: 0;
    left: 0;
    width: 660px;
    margin: 0 0 0 0;
  }

  .nav__img {
    margin: 28px 0 30px 0;
  }

  .nav__link--logo {
    margin: 20px 0 49px 0;
  }

  .nav__button-close {
    margin: 44px 14px 0 0;
  }
}

@media (min-width: 1200px) {
  .nav {
    width: 1200px;
  }

  .nav__close {
    display: none;
  }

  .nav__close--photo {
    margin-bottom: 0;
  }

  .nav__list {
    position: static;
    display: flex;
    width: 940px;
    flex-wrap: wrap;
    padding: 0 130px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav__button-close {
    display: none;
  }

  .nav__item {
    border: none;
    margin: 44px 83px 0 0;
    padding: 0;
  }

  .nav__item:nth-last-child(1) {
    margin-right: 0;
  }

  .nav__item--main {
    margin-top: 27px;
    margin-right: 172px;
  }

  .nav__link {
    width: 146px;
    height: 76px;
    padding: 0 0 8px 0;
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
    font-weight: 200;
    letter-spacing: 0.1px;
  }

  .nav__link--active {
    border-bottom: 2px solid #ffffff;
  }

  .nav__link--active:hover {
    border-bottom: 2px solid #d22856;
  }

  .nav__link--active:active {
    border-bottom: 2px solid #626d78;
  }

  .nav__link:hover {
    color: #d22856;
  }

  .nav__link:active {
    color: #626d78;
  }

  .nav__img {
    margin: 0 0 30px 0;
  }
}
