.radio {
  padding: 38px 20px 3px;
  background-color: #f2f2f2;
}

.radio__board {
  border: none;
  width: 280px;
  margin: 0 auto;
  padding: 41px 0 0 0;
}

.radio__title {
  width: 220px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
}

.radio__block {
  margin: 0 0 45px 0;
}

.radio__input {
  display: none;
}

.radio__text {
  position: relative;
  display: block;
  padding: 0 0 0 69px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.radio__text::after {
  position: absolute;
  content: "";
  left: 0;
  top: -5px;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.radio__text:hover::after {
  border-color: #2b3948;
}

.radio__text:active::after {
  border-color: #d22856;
}

.radio__input:checked + .radio__text:hover::after {
  border-color: #2b3948;
}

.radio__input:checked + .radio__text::after {
  border-color: #d22856;
}

.radio__input:checked + .radio__text::before {
  position: absolute;
  content: "";
  left: 12px;
  top: 7px;
  z-index: 2;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%;
}

@media (min-width: 660px) {
  .radio {
    order: 2;
    width: 620px;
    padding: 0 20px 3px;
    background-color: #ffffff;
  }

  .radio__board {
    width: auto;
    padding: 44px 0 14px 48px;
    border: 2px solid #e5e5e5;
  }

  .radio__title {
    width: 325px;
    padding: 0 22px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #d22856;
  }

  .radio__text::after {
    left: 10px;
    top: -5px;
  }

  .radio__input:checked + .radio__text::before {
    left: 22px;
    top: 7px;
  }
}

@media (min-width: 1200px) {
  .radio {
    width: 433px;
    padding: 0 0 3px;
    margin: 0 0 0 35px;
  }

  .radio__board {
    padding: 45px 0 14px 63px;
  }
}
