.rates {
  width: 100%;
  padding-top: 91px;
  margin: 0 auto;
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top right;
  overflow: hidden;
}

.rates__container {
  width: 320px;
  margin: 0 auto;
}

.rates__table {
  position: relative;
  left: -260px;
  z-index: 1;
  display: table;
}

.rates__column {
  display: table-row;
}

.rates__column--cost .rates__cell-name {
  border-bottom: none;
}

.rates__cell-name {
  position: relative;
  display: table-cell;
  background-color: #ffffff;
  border-bottom: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
}

.rates__cell-name--header {
  background-color: #283645;
}

.rates__cell-name:last-child {
  border-right: 2px solid #e5e5e5;
}

.rates__cell-name--hit {
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.rates__hit-text {
  position: absolute;
  left: 5px;
  top: 4px;
  width: 50px;
  height: 25px;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  transform: rotate(-45deg);
}

.rates__cell-name--hidden {
  display: none;
}

.rates__cell-title {
  width: 96px;
  padding: 17px 90px 1px 90px;
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.rates__cell-cost {
  display: block;
  margin: 0 0 20px 89px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 200;
  color: #ffffff;
}

.rates__text {
  display: inline-block;
  width: 205px;
  margin: 16px 0 13px 22px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #283645;
}

.rates__icon-yes {
  position: absolute;
  top: 23px;
  right: 12px;
  width: 31px;
  height: 21px;
}

.rates__icon {
  fill: #3dc644;
}

.rates__icon-no {
  position: absolute;
  top: 16px;
  right: 14px;
  width: 31px;
  height: 28px;
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
}

.rates__inputs {
  display: flex;
  width: 57px;
  height: 12px;
  margin: 37px auto 0;
  justify-content: space-between;
  align-items: center;
  padding: 4px 132px 47px 132px;
}

.rates__inputs:hover .rates__table-toggle {
  background-color: #7e868f;
}

.rates__inputs:active .rates__table-toggle {
  background-color: #e9ebec;
}

.rates__table-toggle {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 50%;
}

.rates__input:checked + .rates__table-toggle {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border: 3px solid #283645;
  border-radius: 50%;
}

.rates__input {
  display: none;
}

@media (min-width: 660px) {
  .rates {
    padding-top: 87px;
  }

  .rates__container {
    width: 620px;
    padding: 0 20px 69px 20px;
  }

  .rates__table {
    position: static;
  }

  .rates__cell-title {
    width: 96px;
    padding: 13px 28px 0;
    font-size: 16px;
  }

  .rates__cell-cost {
    margin: -2px 0 10px 39px;
    font-size: 18px;
  }

  .rates__cell-name--hidden {
    display: block;
  }

  .rates__text {
    display: none;
  }

  .rates__cell-text {
    display: inline-block;
    width: 138px;
    margin: 7px 0 8px 15px;
    font-size: 14px;
    line-height: 30px;
    text-transform: none;
    color: #283645;
  }

  .rates__cell-name {
    position: relative;
  }

  .rates__cell-name--hit {
    background-image: url("../img/bg-hit-tablet.svg");
  }

  .rates__hit-text {
    left: 1px;
    top: -4px;
  }

  .rates__icon-yes {
    position: absolute;
    content: "";
    width: 31px;
    height: 21px;
    top: 16px;
    left: 64px;
  }

  .rates__icon-no {
    position: absolute;
    content: "";
    width: 27px;
    height: 26px;
    top: 10px;
    left: 63px;
  }

  .rates__inputs {
    display: none;
  }
}

@media (min-width: 1200px) {
  .rates {
    padding: 149px 0 96px 0;
    background-position: 0 -1px;
    background-size: 100%;
  }

  .rates__container {
    width: 940px;
    padding: 0 20px;
  }

  .rates__cell-title {
    width: 96px;
    padding: 17px 68px 0;
    font-size: 18px;
  }

  .rates__cell-cost {
    margin: 1px 0 20px 67px;
    font-size: 24px;
  }

  .rates__cell-name--border {
    border-left: 2px solid #283645;
  }

  .rates__cell-text {
    width: 212px;
    margin: 15px 0 14px 20px;
    font-size: 18px;
  }

  .rates__cell-name--hit {
    background-image: url("../img/bg-hit.svg");
    background-position: -1px -1px;
  }

  .rates__hit-text {
    left: 6px;
    top: 2px;
  }

  .rates__icon-yes {
    top: 25px;
    left: 105px;
  }

  .rates__icon-no {
    top: 17px;
    left: 103px;
  }
}
